body {
  background-color: aliceblue;
}
.Products {
  width: 100%;
  height: auto;
}
.ecommerce-text {
}
.SearchBar {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 4em;
  align-items: center;
}
.SearchBar p {
  font-size: larger;
  font-weight: bold;
}
.SearchBar .Search {
  display: flex;
  align-items: center;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
}
.search-part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  justify-content: space-between;
  gap: 2em;
  border: 2px solid rgb(6, 121, 197);
  border-radius: 5px;
  margin: 8px;
}
.Search input {
  border: none;
  width: 40em;
}
.Search input:focus {
  outline: none;
}
.Search .icons {
  display: flex;
  gap: 10px;
}
.hr {
  /* margin-top: 2em; */
}
